.helloContainer {
    height: 100vh;
    border-top: 2px#c7c7c7 solid;
    display: flex;
    flex-direction: column;
    padding: 25vh 10vh 0 10vh;
}

.fadeIn {
    animation: fade-in 1s ease;
}

.inactive {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.arrowContainer {
    animation: 4s bounce 1s infinite ease-in;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5vh);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}