.helloContainer {
    height: 100vh;
    border-top: 2px#c7c7c7 solid;
    display: flex;
    flex-direction: column;
}

.inactive {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.arrowContainer {
    animation: 4s bounce 1s infinite ease-in;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}