.Container {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    flex: 1;
}

.Container h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo';
    color: rgb(158, 198, 158);
}
