.Container {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    flex: 1;
}

.Container h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo';
    color: rgb(158, 198, 158);
}

.backgroundGradient {
    background-color: #0a0f23;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.purpleBlob {
    background-color: #2d1537;
    left: 30%;
    bottom: -10%;
    position: absolute;
    width: 30%;
    height: 30%;
    border-radius: 100px;
    filter: blur(50px);
    z-index: -1;
}

.redBlob {

}

.paleBlob {

}

.skyBlueBlob {

}

.blueBlob {

}