.sidebar {
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	background-attachment: scroll, scroll;
	background-color: #03131c;
	color: white;
	position: fixed;
	text-align: center;
	align-items: center;
	overflow: hidden;
	box-sizing: border-box;
	z-index: 5;
	box-shadow: 7px 0 10px rgba(0, 0, 0, 0.4);
}

.inner {
	display: flex;
    flex-grow: 1;
    align-items: left;
	justify-content: center;
	justify-items: center;
	text-align: center;
	align-items: center;
	width: 100%;
}

.tabsList {
	list-style: none;
	gap: 40px;
	width: 100%;
	align-items: left;
	height: fit-content;
}

.tabSelector {
	position: absolute;
	height: 35px;
	width: 90%;
	border-radius: 8px;
	background-color: #ffffff;
	/* mix-blend-mode: difference; */
	pointer-events: none;
	transition: top 0.3s ease;
	top: 165px;
	margin-left: 15px;
}

.tab {
	color: white;
	user-select: none;
	padding-left: 30px;
	transition: color 1s ease;
	gap: 10px;
}

.tab:hover {
	cursor: pointer;
	color: white;
	font-weight: 600;
	transition: color .2s ease-in-out;
}

.active {
	cursor: pointer;
	color: #03131c;
	z-index: 7;
	font-weight: 600;
}

.link {
    color:black;
    text-decoration: underline rgb(158, 198, 158);;
}

.backToHome {
    display: flex;
    justify-content: left;
    align-items: left;
    top: 20px;
    left: 20px;
    position: absolute;
}