.sidebar {
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	border: #c7c7c7 2px solid;
	background-attachment: scroll, scroll;
	background-color: black;
	color: white;
	position: fixed;
	text-align: center;
	align-items: center;
	overflow: hidden;
	box-sizing: border-box;
	z-index: 5;
	box-shadow: 7px 0 10px rgba(0, 0, 0, 0.4);
}

.inner {
	display: flex;
    flex-grow: 1;
    align-items: left;
	justify-content: center;
	justify-items: center;
	text-align: center;
	align-items: center;
	width: 100%;
}

.tabsList {
	list-style: none;
	gap: 40px;
	width: 100%;
	align-items: left;
	height: fit-content;
}

.tabSelector {
	position: absolute;
	height: 35px;
	width: 90%;
	border-radius: 8px;
	background-color: #9ec69e;
	/* mix-blend-mode: difference; */
	pointer-events: none;
	transition: top 0.3s ease;
	top: calc(28.1vh);
	left: 50%;
	transform: translateX(-50%);
}

.tab {
	color: white;
	user-select: none;
	padding-left: 30px;
	transition: color 1s ease;
	gap: 10px;
	animation: start-up-fly-in 1s ease;
}

.tab:not(.active):hover {
	cursor: pointer;
	color: white;
	font-weight: 600;
	transition: color .2s ease-in-out;
}

.active {
	cursor: pointer;
	color: black;
	z-index: 7;
	font-weight: 700;
}



.link {
    color:black;
    text-decoration: underline rgb(158, 198, 158);;
}

.backToHome {
    display: flex;
    justify-content: left;
    align-items: left;
    top: 20px;
    left: 20px;
    position: absolute;
	animation: start-up-fly-in 1s ease;
    transition: scale 0.2s ease;
}

.backToHome:hover {
    scale: 1.2;
}

@keyframes start-up-fly-in {
	0% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(0px);
	}
	
}