.sidebar {
    display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-align-items: -moz-flex-end;
		-webkit-align-items: -webkit-flex-end;
		-ms-align-items: -ms-flex-end;
		align-items: flex-end;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		background-color: black;
		background-attachment: scroll, scroll;
		background-position: top left,top left;
		background-repeat: repeat, no-repeat;
		background-size: 500%, 100%; 
		color: rgba(255, 255, 255, .5);
		height: 100%;
		position: fixed;
		text-align: center;
        align-items: center;
		width: 23%;
		overflow: hidden;
		box-sizing: border-box;
		border: 3px solid #c7c7c7;
        border-right: 0;
}

.inner {
	display: flex;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
	flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
    font-size: 10px;
	padding-bottom: 10em;

}

.footer {
    align-items: center;
    padding-top: 6em;
    /* overflow: hidden; */
    font-size: 18px;
    margin-bottom: 20%;
}

.tabsList {
	list-style: none;
	margin: 0;
	padding: 0
}

.tab {
	color: #c7c7c7;
	font-size: 18px;

}

.tab:hover {
	cursor: pointer;
}

.link {
    color:white;
    text-decoration: underline rgb(158, 198, 158);;
}