.whoAmI {
    padding: 50px;
    text-align: justify;
    
}

.funStuff {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: justify;
    gap: 50px;
}

h2 {
    margin: 0 0 5px 0;
}