.AboutMe {
    box-shadow: 0px -10px 20px 5px rgba(0, 0, 0, 0.4);
}

.whoAmI {
    padding: 50px;
    text-align: justify;
    color: black;
}

.funStuff {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: justify;
    gap: 50px;
}

h2 {
    margin: 0 0 5px 0;
}