.ContactMeSection {
    height: 40vh;
    display: flex;
    flex-direction: column;    
}

.infoContainer {
    justify-content: space-around;
    align-content: center;
}

.info {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}