.projectContainer {
    width: 100%;
    overflow: hidden;
    background-color: black;  
    transition: background-color 0.5s ease;
    position: relative;
    box-sizing: border-box;
    display: flex;
    border-bottom: 3px #c7c7c7 solid;
}

.projectContainer:last-child {
    border-bottom: none;
}

.blockContainer {
    overflow: hidden;
    aspect-ratio: 4.5;
    background-color: black;  
    transition: background-color 0.5s ease;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.arrowContainer {
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.arrow {
    opacity: 0;
    font-size: 50px;
    font-weight: 10;
    transition: opacity 1s ease .1s;
}

.projectContent {
    z-index: 3;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: underline rgb(158, 198, 158);    
    transition: opacity .5s ease-in-out 0s;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
    background-color: black;
    z-index: 1;
    transition: height 0.5s ease;
}

.projectContainer:hover .overlay {
    height: 0; 
}
  
.projectContainer:hover .image {
    opacity: 1; 
}

.projectContainer:hover .projectContent {
    opacity: 0; 
}

.projectContainer:hover .arrow {
    opacity: 1; 
}

.image {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.link {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}