.active {
    opacity: 1 !important;
}

.inactive {
    opacity:0 !important;
}

.projectContainer {
    width: 100%;
    overflow: hidden;
    background-color: black;  
    transition: background-color 0.5s ease;
    position: relative;
    box-sizing: border-box;
    display: flex;
    border-bottom: 3px #c7c7c7 solid;
}

.projectContainer:hover .readMoreButton {
    opacity: 1;
}

.projectContainer:hover .projectTitle {
    opacity: 0;
}

.projectContainer:hover .image {
    opacity: 1;
}


.projectContainer:last-child {
    border-bottom: none;
}

.blockContainer {
    overflow: hidden;
    aspect-ratio: 3.5;
    background-color: black;  
    transition: background-color 0.5s ease;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.projectRightTitle {
    opacity: 0;
}

.projectTitle {
    z-index: 3;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: underline rgb(158, 198, 158);    
    transition: opacity .5s ease-in-out 0s;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: 1; 
}

.image {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    opacity: 0; 
    aspect-ratio: 4.96;
}

.link {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.buttonContainer {
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.readMoreButton {
  background-color: #000000;
  border: 1px solid #ffffff;
  opacity: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'urbanist';
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

.readMoreButton:hover {
    font-weight: bold;
    border: 2px solid #ffffff;
}