.scrollingtextcon {
    background-color: #000000;
    text-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    border-top: solid #c7c7c7 3px;
    border-bottom: solid #c7c7c7 3px;
    box-sizing: border-box;
    line-height: 1.1;
}

.scrollingtextcon > p {
    line-height: 1em;
    margin: 0;
    padding: 0;
    font-family: "Gotham";
    font-style: italic;
    font-size: 50px;
}

.scrollingtextleft {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
    user-select: none;
}

.scrollingtextright {
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    transform: translateX(-50%);
    animation: scroll-right 20s linear infinite;
    width: auto;
}

.scrollingtextright.paused {
    display: inline-block;
    white-space: nowrap;
    animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.scrollingtextleft.paused {
    display: inline-block;
    white-space: nowrap;
    animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

@keyframes scroll-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}
