.sidebar {
    flex-direction: column;
    justify-content: space-between;
    background-attachment: scroll, scroll;
    background-position: top left,top left;
    background-color: black;
    background-repeat: repeat, no-repeat;
    background-size: 500%, 100%; 
    color: rgba(255, 255, 255, .5);
    position: fixed;
    text-align: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid #c7c7c7;
    z-index: 5;
}

.inner {
display: flex;
flex-grow: 1;
align-items: center;
justify-content: center;
justify-items: center;
text-align: center;
/* overflow: hidden; */
width: 100%;

}

.tabsList {
list-style: none;
gap: 20px;
margin: 0;
padding: 0;
width: 100%;
align-items: center;
}

.tab {
color: #c7c7c7;
user-select: none;
}

.tab:hover {
cursor: pointer;
color: white;
font-weight: 600;
transition: color .2s ease-in-out;
}

.active {
cursor: pointer;
color: white;
font-weight: 600;
}

.link {
color:white;
text-decoration: underline rgb(158, 198, 158);;
}
