.sectionThree {
    display: flex;
    flex-direction: column;
    color: white;
}

.header {
    padding: 10px 10px 20px 10px;
    border-bottom: 3px #c7c7c7 solid;
    align-items: center;
    text-align: center;
}


.postPreview {
    padding-bottom: 30px;
    padding: 50px;
    border-top: 3px #c7c7c7 solid;
}

.postPreview:first-child{
    padding-bottom: 30px;
    border-top: none;
}

.readMore {
    color: white;
    text-decoration: underline rgb(158, 198, 158);;
}