@font-face {
	font-family: "Gabarito";
	src: url('./assets/fonts/Gabarito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: "Chivo Mono";
	src: url(./assets/fonts/ChivoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Noto Sans";
  src: url(./assets/fonts/NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url(./assets/fonts/NotoSansDisplay-VariableFont_wdth,wght.ttf);
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

ul {
  gap:10px;
  display: flex;
  flex-direction: column;
  margin: 0 0 5px 0 !important;
}

ul > li:first-child{
  margin-top: 10px;
}

