@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Urbanist, Arvo;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;
  background-color: black;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-size: cover;
  /* background-image: url('./assets/images/background.png'); */
  background-attachment: fixed;
  /* background-color: red; */
}

ul {
  gap:10px;
  display: flex;
  flex-direction: column;
  margin: 0 0 5px 0 !important;
}

a {
  color: white;
  text-decoration: underline rgb(158, 198, 158);;
}

h1 {
  @apply text-center border-y-white border-solid border-y-2;
  font-size: 40px;
}

h2 {
  @apply text-center border-y-white border-solid border-y-2;
  font-size: 22px;
  margin: 10px 0 10px 0;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
  background-color: black;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: black; /* Light gray track */
  border-radius: 10px;
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: white; /* Darker gray */
  border-radius: 0px;
}

/* Thumb hover state */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5; /* Even darker gray */
}